.selectContainer {
   /*display: inline-block;*/
}

.select {
   height: 15px;
   padding: 6px;

   text-align: center;

   color: darkgray;
   border: 1px solid darkgray;
   border-radius: 2px;
}

.select:hover {
   cursor: pointer;

   color: black;
   border-color: black;
}

.selectCollapsed {
   color: black;
   border: 2px solid #1ea7fd;
}

.select.selectCollapsed:hover {
   cursor: default;

   border: 2px solid #1ea7fd;
}

.options {
   position: absolute;

   display: inline-block;

   border: 1px solid black;
   border-radius: 2px;
   background-color: white;
}

.option {
   padding: 5px 20px;

   text-align: center;

   border-top: 1px solid darkgray;
}

.option:hover {
   cursor: default;

   color: white;
   background-color: #1ea7fd;
}

.optionSelected {
   color: white;
   background-color: #1ea7fd;
}
